In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression

In [2]:
dataset = pd.read_csv('dataset/real_estate_price_size_year.csv')

In [3]:
dataset.head()

        price     size  year
0  234314.144   643.09  2015
1  228581.528   656.22  2009
2  281626.336   487.29  2018
3  401255.608  1504.75  2015
4  458674.256  1275.46  2009

In [4]:
dataset.describe()

               price         size         year
count     100.000000   100.000000   100.000000
mean   292289.470160   853.024200  2012.600000
std     77051.727525   297.941951     4.729021
min    154282.128000   479.750000  2006.000000
25%    234280.148000   643.330000  2009.000000
50%    280590.716000   696.405000  2015.000000
75%    335723.696000  1029.322500  2018.000000
max    500681.128000  1842.510000  2018.000000

In [5]:
x = dataset[['size', 'year']]
y = dataset['price']

In [7]:
regressor = LinearRegression()
regressor.fit(x, y)

LinearRegression()

In [8]:
new_data = pd.DataFrame(data=[[120, 2001], [1000, 2020]], columns=['size', 'year'])
regressor.predict(new_data)

array([ 91544.52402053, 347340.19675703])

In [9]:
new_data['predicted_price'] = regressor.predict(new_data)

In [10]:
new_data

   size  year  predicted_price
0   120  2001     91544.524021
1  1000  2020    347340.196757

In [22]:
r2 = regressor.score(x, y)
n = x.shape[0]
p = x.shape[1]
adj_r2 = 1 - (1 - r2) * (n - 1) / (n - p - 1)
adj_r2

0.7718717161282498

In [23]:
from sklearn.feature_selection import f_regression
f_regression(x, y)

(array([285.92105192,   0.85525799]), array([8.12763222e-31, 3.57340758e-01]))

In [24]:
p_values = f_regression(x, y)[1]

In [17]:
reg_summary = pd.DataFrame(data= x.columns.values, columns=['Features'])
reg_summary

  Features
0     size
1     year

In [26]:
reg_summary['coefficients'] = regressor.coef_
reg_summary['p-values'] = p_values.round(3)

In [28]:
reg_summary

  Features  coefficients  p-values
0     size    227.700854     0.000
1     year   2916.785327     0.357